@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #222;
  overflow: hidden;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleContainer {
  padding: 10px 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0.75%;
  gap: 1.0rem;
}
.titleContainer #Wuggy {
  color: rgb(0, 13, 192);
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  font-family: 'VCR OSD Mono', sans-serif;
}
.titleContainer #V {
  color: red;
  font-style: normal;
  font-weight: 300;
  font-size: 3.5rem;
  font-family: 'VCR OSD Mono', sans-serif;
                                                
}
.titleContainer #s {
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Amatic Sc', sans-serif;
}
.titleContainer #AmongUs {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Amatic Sc', sans-serif;
}
canvas {
  position: absolute;
  top: 15%;
  background: #111;
  border: 2px solid #444;
  display: block;
  z-index: 3;
}
.score {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: 'Amatic Sc', sans-serif;
  color: white;
  z-index: 3;
}
.startContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 20rem;
  background: rgb(0, 13, 192);
  border: #ff0000 2px solid;
  transform: translate(-50%, -50%);
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.startContainer #instructions {
  font-size: 1.45rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'VCR OSD MONO', sans-serif;
  color: white;
}
.startContainer.active {
  display: flex;
}
.startContainer #start-Btn {
  padding: 10px 20px;
  background: #ff0000;
  border: rgb(0, 13, 192) 0.15rem solid;
  color: white;
  font-family: 'Amatic Sc', sans-serif;
  font-size: 1.75rem;
  cursor: pointer;
  transition: background 0.2s;
}
.startContainer #start-Btn:hover {
  background: #850000;
}
.gameoverContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 20rem;
  background: rgb(0, 13, 192);
  border: #ff0000 2px solid;
  transform: translate(-50%, -50%);
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 30px #000a;
}
.gameoverContainer.active {
  display: flex;
}
.gameoverContainer #restart-Btn {
  padding: 10px 20px;
  margin-top: 20px;
  background: #ff0000;
  border: rgb(0, 13, 192) 0.15rem solid;
  border-radius: 5px;
  color: white;
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 1.75rem;
  cursor: pointer;
  transition: background 0.2s;
}
.gameoverContainer #restart-Btn:hover {
  background: #850000;
}
.gameoverContainer #game-over {
  font-family: 'Amatic Sc', sans-serif;
  font-size: 4.5rem;
  color: white;
}
.gameoverContainer #finalScore {
  font-size: 2.5rem;
  font-family: 'VCR OSD MONO', sans-serif;
  color: white;
}
