* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      margin: 0;
      background: #222;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
      font-family: Arial, sans-serif;
      user-select: none;
    }
    canvas {
      background: #111;
      border: 2px solid #444;
      display: block;
    }
    #game-over {
      position: absolute;
      padding: auto;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      color: red;
      display: none;
    }